.app-body .main {
    padding-top: 20px!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar-filters {
    margin-bottom: 10px!important;
}

.table-avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 25px;
}

.schedule-avatar {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 40px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px!important;
}